.Card {
    margin: 0;
    cursor: pointer;
    background-color: transparent;

    width: 220px;
    height: 300px;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card img {
    width: 180px;
    height: 220px;
    margin: 12px 0;
}
.Transition {
    position: relative;

    width: 100%;
    text-align: center;
}
.Transition h3 {
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    line-height: 22px;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    font-weight: bold;
    overflow: hidden;
}

.Card span {
    position: absolute;
    top: -4px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px;
    background-color: #c210c2;
    border-radius: 16px;
    color: white;
    width: 96px;
    text-align: center;
}

.BookInfo h2 {
    position: absolute;
    top: 20px;
    font-size: 16px;
    font-weight: normal;
}

.Card:hover {
    transform: scale(1.1);
}

@media (max-width: 500px) {
    .Card {
        width: 250px;
        height: 300px;
    }
    .Card img {
        width: 180px;
        height: 220px;
        margin: 12px 0;
    }
}
