.Card {
    margin: 32px 10px;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    width: 180px;
    height: 250px;
    perspective: 1000px;
    border-radius: 0 0 40px 40px;
}
.img {
    z-index: 100;
}
.Card img {
    width: 180px;
    height: 220px;
    margin: auto;
}
.Transition h3 {
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    position: absolute;
    bottom: -28px;

    line-height: 22px;
    display: inline;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;

}

.Card span {
    position: absolute;
    top: -32px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px;
    background-color: #c210c2;
    border-radius: 16px;
    color: white;
    width: 96px;
    text-align: center;
}

.BookInfo h2 {
    position: absolute;
    top: 20px;
    font-size: 16px;
    font-weight: normal;
}

.Card:hover {
    transform: scale(1.1);
}
